<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top: 0px; padding-right: 0px;">
        <div class="row">
          <%= image_tag "banner.png", class: "img-responsive" %>
          <% if !current_user.blank? && current_user.can_follow?(@user) %>
            <div class="img-overlay">
              <%= link_to follow_user_path(@user.username), class: "follow-btn btn-default", style: "color: #676a6c;" do %>
                <i class="fa fa-user-plus"></i>
                Follow
              <% end %>
            </div>
          <% elsif !current_user.blank? && current_user.following?(@user) %>
            <div class="img-overlay">
              <%= link_to unfollow_user_path(@user.username), class: "follow-btn btn-default", style: "color: #676a6c;" do %>
                <i class="fa fa-user-times"></i>
                Unfollow
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <a id="user_avatar_link" onclick="$('#user_avatar').click(); event.preventDefault();" onmouseover="$(this).find('.user-profile-overlay').css('display', 'inline-block');" onmouseout="$(this).find('.user-profile-overlay').hide();" href="">
              <div class="profile-image img-circle circle-border m-b-md" style="background: url('<%= @user.avatar.url %>'); no-repeat; background-size: 100% 100%; margin: 0 auto 20px; width: 80px; height: 80px; margin-top: -25px; float: none !important;">
                <i class="fa fa-camera user-profile-overlay" style="display: none;"></i>
              </div>
            </a>
            <%= form_for(@user, html: { multipart: true, style: "height: 0px;", id: "edit_user_form" }) do |f| %>
              <%= f.file_field :avatar, style: "visibility: hidden;", id: 'user_avatar'  %>
              <%= f.submit "Update Avatar", id: "send_avatar_btn", style: "visibility: hidden;" %>
            <% end %>
          </div>
          <div class="col-xs-8 col-xs-offset-1" style="margin-top: 5px;">
            <div style="font-size: 18px;"><strong><%=@user.name%></strong></div>
            <div>@<%=@user.username%></div>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-xs-4">Posts</div>
          <div class="col-xs-4">Following</div>
          <div class="col-xs-4">Followers</div>
        </div>
        <div class="row">
          <div class="col-xs-4"><%= @user.posts.length %></div>
          <div class="col-xs-4"><%= @user.followeds.length %></div>
          <div class="col-xs-4"><%= @user.followers.length %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="chat-panel panel panel-default" style="margin-top: 25px;">
        <div class="panel-body">
          <ul class="chat">
            <% if @posts.blank? %>
              <div class="text-center">
                <h2><%=current_user.name%> didin't make any Post yet :(</h2>
              </div>
            <% else %>
              <% @posts.each do |post| %>
                <%= render post %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
