<!DOCTYPE html>
<html>
  <head>
    <title>Microblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0" role="navigation">
        <div class="navbar-header">
          <%= link_to "Microblog", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <form class="navbar-form navbar-left" >
            <div class="form-group" >
              <input id="search-box" class="form-control search-input" name="q" placeholder="Search" value="" type="text">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-user fa-fw"></i>&nbsp;<%= login_label(current_user) %>
                <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li>
                  <%= link_to posts_path, title: login_label(current_user), class: "element-tooltip" do %>
                  <i class="fa fa-user fa-fw"></i>
                  <%= login_label(current_user) %>
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="fa fa-sign-out fa-fw"></i>
                    Sair
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
        <% end %>
      </ul>
    </nav>
    <div>
      <%= display_flash_messages %>
    </div>
      <div class="wrapper wrapper-content">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
