<!DOCTYPE html>
<html>
  <head>
    <title>Microblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0" role="navigation">
        <div class="navbar-header">
            <%= link_to "Microblog", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <%= render partial: "layouts/search" %>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                <%= image_tag(current_user.avatar.url, style: "width: 25px; height: 25px;")%>&nbsp;<%= login_label(current_user) %>
                <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li>
                  <%= link_to user_profile_path(current_user.username), title: "Perfil", class: "element-tooltip" do %>
                  Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to posts_path, title: "Posts", class: "element-tooltip" do %>
                  Posts
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="fa fa-sign-out fa-fw"></i>
                    Log Out
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
        <% end %>
      </ul>
    </nav>
    <div>
      <%= display_flash_messages %>
    </div>
      <div class="wrapper wrapper-content">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
